/* line 16, ../scss/styles.scss */
body {
  font-family: Helvetica-neue,Helvetica,serif;
  color: #5a5046;
  background: #424242;
}

/* line 23, ../scss/styles.scss */
section:nth-child(even) {
  background: #5c5c5c;
  margin: 30px 0;
  padding: 20px 0 50px 0;
}

/* line 29, ../scss/styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: white;
}

/* line 35, ../scss/styles.scss */
h5, h6 {
  font-weight: 300;
}

/* line 39, ../scss/styles.scss */
h2 {
  margin-bottom: 15px;
}

/* line 43, ../scss/styles.scss */
.form-control {
  color: #999999;
}

/* line 48, ../scss/styles.scss */
article h1, article h3, article h4, article h5, article h6 {
  color: #5a5046;
}

/* line 157, ../scss/styles.scss */
.user {
  padding: 0;
  border-radius: 4px;
  background: white;
  margin-bottom: 20px;
}
/* line 54, ../scss/styles.scss */
.user .banner {
  background: #84786f;
  height: 140px;
  margin: 0;
  border-radius: 4px 4px 0 0;
}
/* line 60, ../scss/styles.scss */
.user .me img {
  border-radius: 50%;
  border: 2px solid #f6f1ed;
  padding: 4px;
  width: 80px;
  height: 80px;
}
/* line 67, ../scss/styles.scss */
.user .about {
  padding-left: 20px;
}
/* line 69, ../scss/styles.scss */
.user .about .name {
  font-size: 25px;
  margin-bottom: 6px;
}
/* line 74, ../scss/styles.scss */
.user .main-profile {
  margin-top: 20px;
  display: block;
}
/* line 79, ../scss/styles.scss */
.user p {
  font-size: 13px;
}
/* line 82, ../scss/styles.scss */
.user .data {
  background: #f6f1ed;
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  color: #b8aba1;
  border-radius: 0 0 4px 4px;
}
/* line 89, ../scss/styles.scss */
.user .data .fa {
  margin-right: 7px;
}
/* line 92, ../scss/styles.scss */
.user .data a {
  color: #b8aba1;
  padding: 0% 5%;
  transition: color 0.4s;
}
/* line 96, ../scss/styles.scss */
.user .data a:hover {
  color: #2ecc71;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.4s;
}

/* line 108, ../scss/styles.scss */
.contacts .wrapper, .game .wrapper, .math-app .wrapper {
  padding: 20px 0 0;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}
/* line 109, ../scss/styles.scss */
.contacts .wrapper p, .game .wrapper p, .math-app .wrapper p {
  margin: 0 0 20px;
}
/* line 116, ../scss/styles.scss */
.contacts .wrapper .content, .game .wrapper .content, .math-app .wrapper .content {
  padding: 0 20px;
}
/* line 120, ../scss/styles.scss */
.contacts .wrapper input, .game .wrapper input, .math-app .wrapper input {
  margin-bottom: 10px;
}
/* line 123, ../scss/styles.scss */
.contacts .wrapper footer, .game .wrapper footer, .math-app .wrapper footer {
  padding: 20px;
  background: #f6f1ed;
}
/* line 126, ../scss/styles.scss */
.contacts .wrapper footer span, .game .wrapper footer span, .math-app .wrapper footer span {
  font-size: 12px;
}
/* line 129, ../scss/styles.scss */
.contacts .wrapper footer .btn, .game .wrapper footer .btn, .math-app .wrapper footer .btn {
  background: #84786f;
  color: white;
}
/* line 133, ../scss/styles.scss */
.contacts .wrapper footer .btn:hover, .game .wrapper footer .btn:hover, .math-app .wrapper footer .btn:hover {
  background: #2ecc71;
  transition: background 2s;
}
/* line 137, ../scss/styles.scss */
.contacts .wrapper footer .fa, .game .wrapper footer .fa, .math-app .wrapper footer .fa {
  margin-right: 10px;
}
/* line 140, ../scss/styles.scss */
.contacts .wrapper footer .send-gift, .game .wrapper footer .send-gift, .math-app .wrapper footer .send-gift {
  margin: 0px 5px;
}
/* line 143, ../scss/styles.scss */
.contacts .wrapper footer .awesome, .game .wrapper footer .awesome, .math-app .wrapper footer .awesome {
  display: none;
}
/* line 145, ../scss/styles.scss */
.contacts .wrapper footer .awesome .fa, .game .wrapper footer .awesome .fa, .math-app .wrapper footer .awesome .fa {
  margin: 0px 5px;
  font-size: 17px;
  color: #2ecc71;
}

/* line 169, ../scss/styles.scss */
.game {
  text-align: center;
}
/* line 171, ../scss/styles.scss */
.game .content > div {
  margin-bottom: 15px;
}
/* line 173, ../scss/styles.scss */
.game .content > div .btn-default {
  padding: 6px;
}
/* line 174, ../scss/styles.scss */
.game .content > div .btn-default img {
  width: 24px;
}
/* line 180, ../scss/styles.scss */
.game .user {
  margin-top: 10px;
}
/* line 182, ../scss/styles.scss */
.game .user .points {
  margin: 10px 0 -10px;
  color: #84786f;
  font-size: 8px;
}
/* line 186, ../scss/styles.scss */
.game .user .points .playerPoint {
  color: #27ae60;
}
/* line 189, ../scss/styles.scss */
.game .user .points .compPoint {
  color: #e96b45;
}
/* line 195, ../scss/styles.scss */
.game .me span {
  color: #e96b45;
  position: absolute;
  z-index: 200;
  display: block;
  left: 37%;
  font-size: 48px;
  top: 31%;
}
/* line 204, ../scss/styles.scss */
.game .me .winner {
  transform: scale(1);
  z-index: 2;
  transition: 0.5s;
}
/* line 209, ../scss/styles.scss */
.game .me .player {
  border-color: #27ae60;
}
/* line 212, ../scss/styles.scss */
.game .me .oponent {
  border-color: #e96b45;
}
/* line 215, ../scss/styles.scss */
.game .me .challenge {
  transition: 0.2s;
}
/* line 221, ../scss/styles.scss */
.game .message {
  position: absolute;
  display: block;
  text-align: left;
}

/* line 230, ../scss/styles.scss */
.math-app .wrapper footer {
  padding: 0 20px;
  font-size: 57px;
  text-align: center;
}
/* line 236, ../scss/styles.scss */
.math-app .wrapper .running img {
  margin: 0 auto;
  width: 50%;
  display: block;
}
/* line 242, ../scss/styles.scss */
.math-app .wrapper .points {
  text-align: center;
}
/* line 244, ../scss/styles.scss */
.math-app .wrapper .points span {
  margin: 25px 0;
  padding: 0 2px;
  font-size: 18px;
}

/* line 108, ../scss/styles.scss */
.pseudo .wrapper {
  padding: 20px 0 0;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}
/* line 109, ../scss/styles.scss */
.pseudo .wrapper p {
  margin: 0 0 20px;
}
/* line 116, ../scss/styles.scss */
.pseudo .wrapper .content {
  padding: 0 20px;
}
/* line 120, ../scss/styles.scss */
.pseudo .wrapper input {
  margin-bottom: 10px;
}
/* line 123, ../scss/styles.scss */
.pseudo .wrapper footer {
  padding: 20px;
  background: #f6f1ed;
}
/* line 126, ../scss/styles.scss */
.pseudo .wrapper footer span {
  font-size: 12px;
}
/* line 129, ../scss/styles.scss */
.pseudo .wrapper footer .btn {
  background: #84786f;
  color: white;
}
/* line 133, ../scss/styles.scss */
.pseudo .wrapper footer .btn:hover {
  background: #2ecc71;
  transition: background 2s;
}
/* line 137, ../scss/styles.scss */
.pseudo .wrapper footer .fa {
  margin-right: 10px;
}
/* line 140, ../scss/styles.scss */
.pseudo .wrapper footer .send-gift {
  margin: 0px 5px;
}
/* line 143, ../scss/styles.scss */
.pseudo .wrapper footer .awesome {
  display: none;
}
/* line 145, ../scss/styles.scss */
.pseudo .wrapper footer .awesome .fa {
  margin: 0px 5px;
  font-size: 17px;
  color: #2ecc71;
}
/* line 259, ../scss/styles.scss */
.pseudo .first-letter:first-letter {
  color: #5a5046;
  font-size: 39px;
  padding-right: 7px;
  float: left;
  margin: -5px 0 -18px;
}
/* line 266, ../scss/styles.scss */
.pseudo .first-line:first-line {
  font-weight: bold;
}
/* line 270, ../scss/styles.scss */
.pseudo .selection span {
  font-size: 16px;
  color: #5a5046;
}
/* line 275, ../scss/styles.scss */
.pseudo p.selection::selection {
  background: #5a5046;
  color: white;
}
/* line 279, ../scss/styles.scss */
.pseudo p.before:before {
  content: url("http://lorempixel.com/gray/60/50/nature/");
  float: left;
  margin: 4px 10px 0 0;
  display: block;
  height: 50px;
  width: 60px;
}
/* line 287, ../scss/styles.scss */
.pseudo ul.before {
  padding-left: 10px;
  margin: -13px 0 20px 13px;
}
/* line 291, ../scss/styles.scss */
.pseudo ul.before li:before {
  font-family: 'FontAwesome';
  content: '\f007';
  margin: 0 5px 0 -15px;
  margin-left: -1.3em;
  width: 1.3em;
  padding-right: 5px;
}
/* line 299, ../scss/styles.scss */
.pseudo .after:after {
  font-family: 'FontAwesome';
  content: '\f007';
  margin-left: 5px;
}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1199px) {
  /* line 321, ../scss/styles.scss */
  .user .name {
    text-align: center;
  }

  /* line 325, ../scss/styles.scss */
  .user .me img {
    margin: auto;
    display: block;
  }
}
/* Medium devices (desktops, 992px and up) */
/* Small devices (tablets, 768px and up) */
/* Extra Small devices (mobiles, 480px and up) */
/* Extra Small devices (mobiles, 320px and up) */
